body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: yellow;
    font-family: Roboto, sans-serif;
}

.imagens {
    display: flex;
    gap: 5rem;               /* Espaçamento entre as imagens */
    margin-bottom: 5rem;     /* Espaço abaixo das imagens */
}

.imagens img {
    width: 200px;            /* Largura das imagens */
    height: 200px;           /* Altura das imagens */
    border-radius: 50%;      /* Tornar as imagens circulares */
    object-fit: cover;       /* Ajustar imagem para cobrir o círculo */
    border: 2px solid #000;  /* Borda preta em torno das imagens */
}

.imagens img:nth-child(2) {
    transform: translateY(-50px);  /* Ajuste a altura conforme necessário */
}

button {
    border: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 15px 30px;
    background-color: #ff8c00;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #e67600;
}

#message {
    color: black;
    margin-top: 3rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}